@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Open+Sans:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{
    background-color: #000;
    color: #fff;
}

.main{
    padding: 1rem;
    margin: 1rem;
    border: 1px solid ;
}



.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.foto{
    width: 200px;
    height: 200px;

    border-radius: 50%;
}

.titulo{
    font-family: 'Chakra Petch';
    text-align: center;
}

.informacoes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.informacoes p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: 1.125rem;
}

.informacoes p::before{
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
}

.informacoes .cargo::before{
    background-image: url('/assets/img/icons/cargo.svg');
}

.informacoes .localizacao::before{
    background-image: url('/assets/img/icons/localizacao.svg');
}

.informacoes .contato::before{
    background-image: url('/assets/img/icons/contato.svg');
}   

.informacoes .email::before{
    background-image: url('/assets/img/icons/email.svg');
}


@media screen and (min-width: 768px) {
    .header{
        display: grid;
        grid-template-areas: 
            "foto titulo" 
            "foto informacoes"
        ;
    }
    
    .header .foto{
        grid-area: foto;
        margin: 0 auto;
    }

    .header .titulo{
        grid-area: titulo;
        text-align: start;
        max-width: 210px;
    }

    .header .informacoes{
        grid-area: informacoes;   
    }


    .main{
        max-width: 1024px;
        margin: 1rem auto;
    }
}