*{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body{

}

.main{
    padding: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .foto{
    width: 200px;
    height: 200px;

    border-radius: 50%;
}

.header .titulo{
    font-family: 'Chakra Petch';
    text-align: center;
}
